# !! DANGER !!
#
# This workflow retrieves an OIDC identity token from GitHub Actions
# and INTENTIONALLY leaks it as an artifact. As a result, the leaked
# token is NOT SECRET AND MUST NOT BE CONSIDERED A VALID IDENTITY
# FOR SIGNING OR ANY OTHER PURPOSE.

name: Extremely dangerous OIDC beacon

# Allow this job to be called from `trigger-extremely-dangerous-oidc-beacon.yml`.
on: [workflow_dispatch]

permissions: {}

# We generate 3 tokens per workflow run using identical jobs to work around GitHub Actions scheduling
# limitations. Each new token overwrites the previous token associated with the workflow artifact bundle,
# if it exists. Each run should take around 10 minutes to complete.
jobs:
  upload-extremely-dangerous-token:
    permissions:
      id-token: write # For OIDC authentication
      contents: write # For pushing to current-token branch
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.x"

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: true # Needed to push back to repo

      - name: Retrieve OIDC token
        run: |
          python -m pip install id
          python -m id sigstore > oidc-token.txt

      - name: Push ephemeral current-token branch
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "noreply@github.com"
          git add oidc-token.txt
          git commit -m "Ephemeral commit with current token"
          git push --force origin HEAD:current-token

      - name: Upload OIDC token artifact (legacy)
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: oidc-token
          path: ./oidc-token.txt
